In [1]:
import torch.nn as nn
import torch
import numpy as np
import time
from collections import defaultdict
import pandas as pd
from torch.utils import data as torch_data
#from ..models import TransE, TransH, DistMult
import copy
import pickle
from numpy import genfromtxt
import logging

logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

In [5]:
train = pd.read_csv('train_t.csv', header=None, sep=',', names=['sid', 'pid', 'oid', 's','p','o','st','ot','stid','otid'])[0:]
valid = pd.read_csv('valid_t.csv', header=None, sep=',', names=['sid', 'pid', 'oid', 's','p','o','st','ot','stid','otid'])[0:]
test = pd.read_csv('test_t.csv', header=None, sep=',', names=['sid', 'pid', 'oid', 's','p','o','st','ot','stid','otid'])[0:]

In [10]:
train = train.astype({"sid":"int","pid":"int","oid":"int","stid":"int","otid":"int"})
train.index = train.index.astype(int)
valid = valid.astype({"sid":"int","pid":"int","oid":"int","stid":"int","otid":"int"})
valid.index = valid.index.astype(int)
test = test.astype({"sid":"int","pid":"int","oid":"int","stid":"int","otid":"int"})
test.index = test.index.astype(int)

In [11]:
test

,sid,pid,oid,s,p,o,st,ot,stid,otid
0,7481,0,4248,7B50CE3E,author_in_affiliation,4E13CA1C,author,affiliation,1,3
1,6618,0,4278,78F30396,author_in_affiliation,4FF45383,author,affiliation,1,3
2,13159,3,612,80582427,paper_in_domain,0247DE90,paper,domain,0,2
3,14410,0,1151,8125EA5C,author_in_affiliation,0477FFD3,author,affiliation,1,3
4,9557,3,1401,7DEDE08C,paper_in_domain,05758F58,paper,domain,0,2
...,...,...,...,...,...,...,...,...,...,...
3719,9217,4,4088,7DB9D33E,paper_in_venue,43319DD4,paper,venue,0,4
3720,6756,3,672,795AC0B1,paper_in_domain,028649F0,paper,domain,0,2
3721,6879,3,695,79AF27CC,paper_in_domain,02A3D790,paper,domain,0,2
3722,15055,1,12925,8270E609,author_write_paper,802EC48C,author,paper,1,0
3723,10036,3,500,7E43CF75,paper_in_domain,01E0CEB1,paper,domain,0,2

In [15]:
train2id = train[['sid', 'pid', 'oid']]
valid2id = valid[['sid', 'pid', 'oid']]
test2id = test[['sid', 'pid', 'oid']]

np.savetxt('train2id.txt', train2id.values, fmt='%d', delimiter='\t')
np.savetxt('valid2id.txt', valid2id.values, fmt='%d', delimiter='\t')
np.savetxt('test2id.txt', test2id.values, fmt='%d', delimiter='\t')

In [25]:
df = pd.concat([train,valid,test])

In [26]:
df.pid.unique()

array([0, 1, 2, 3, 4])

In [27]:
rel2id = {}
rel2id['author_in_affiliation'] = 0
rel2id['author_write_paper'] = 1
rel2id['paper_cite_paper'] = 2
rel2id['paper_in_domain'] = 3
rel2id['paper_in_venue'] = 4

In [38]:
df = df[["sid","oid","s","o","st","ot","stid","otid"]]
ent2id = {}
type2id = {}
entid2typid = {}
for i, row in df.iterrows():
    if not row["s"] in ent2id:
        ent2id[row["s"]] = row["sid"]
    if not row["o"] in ent2id:
        ent2id[row["o"]] = row["oid"]
    if not row["st"] in type2id:
        type2id[row["st"]] = row["stid"]
    if not row["ot"] in type2id:
        type2id[row["ot"]] = row["otid"]
    if not row["sid"] in entid2typid:
        entid2typid[row["sid"]] = row["stid"]
    if not row["oid"] in entid2typid:
        entid2typid[row["oid"]] = row["otid"]

In [39]:
entid2typid

{3877: 1,
 1915: 3,
 1603: 1,
 229: 3,
 12953: 1,
 10004: 0,
 7398: 1,
 5957: 0,
 11891: 0,
 4979: 0,
 6081: 0,
 494: 2,
 12022: 0,
 228: 2,
 6749: 1,
 7996: 0,
 9000: 1,
 11756: 0,
 12732: 0,
 1851: 2,
 7568: 1,
 4225: 3,
 6227: 1,
 13880: 0,
 12904: 1,
 13992: 0,
 11611: 0,
 2364: 2,
 5831: 0,
 443: 2,
 11228: 1,
 1243: 3,
 3519: 1,
 11788: 0,
 4574: 0,
 897: 2,
 845: 0,
 11317: 0,
 13884: 0,
 717: 2,
 12872: 0,
 951: 2,
 8548: 0,
 1281: 2,
 5330: 0,
 4106: 4,
 7163: 0,
 14390: 0,
 8749: 0,
 2099: 2,
 8773: 0,
 95: 2,
 15370: 1,
 2069: 3,
 12153: 1,
 1831: 3,
 11868: 1,
 5781: 0,
 10692: 1,
 11329: 0,
 5880: 1,
 9445: 0,
 12070: 0,
 6306: 0,
 5560: 0,
 1190: 2,
 7850: 0,
 1638: 2,
 3910: 1,
 9815: 0,
 5441: 1,
 12016: 0,
 9289: 1,
 1474: 3,
 9945: 0,
 2733: 2,
 9848: 0,
 1993: 2,
 12626: 0,
 1400: 2,
 6151: 1,
 12416: 0,
 12248: 1,
 2534: 3,
 10386: 0,
 138: 2,
 7581: 0,
 2699: 2,
 10978: 0,
 356: 2,
 9829: 0,
 4855: 0,
 7724: 1,
 315: 3,
 13187: 0,
 13127: 0,
 16339: 1,
 9935: 0,
 4583: 0,
 9484: 0,
 6338: 0,
 5071: 0,
 2886: 1,
 10582: 0,
 15804: 1,
 1933: 3,
 13852: 0,
 1119: 2,
 10517: 0,
 4126: 4,
 9580: 0,
 11101: 0,
 9243: 1,
 14344: 0,
 12432: 0,
 4088: 4,
 14498: 0,
 1706: 2,
 11057: 0,
 9944: 0,
 4591: 0,
 4878: 0,
 11209: 1,
 8850: 0,
 14646: 0,
 2429: 2,
 5245: 0,
 1804: 2,
 4602: 0,
 2500: 2,
 5615: 0,
 1951: 2,
 5700: 0,
 1987: 2,
 15641: 1,
 14251: 0,
 11576: 0,
 1813: 2,
 5639: 0,
 6408: 0,
 13165: 1,
 8444: 0,
 11900: 1,
 4706: 0,
 9376: 1,
 1099: 3,
 6357: 0,
 4116: 4,
 12689: 0,
 4124: 4,
 12557: 1,
 13364: 0,
 15464: 1,
 11897: 0,
 2674: 1,
 12757: 0,
 9192: 0,
 4335: 0,
 7379: 0,
 7377: 0,
 6797: 0,
 4113: 4,
 9739: 0,
 2446: 2,
 12078: 0,
 5371: 0,
 5053: 0,
 1639: 2,
 13051: 0,
 12200: 0,
 12187: 1,
 14393: 0,
 11623: 1,
 4278: 3,
 8079: 0,
 4119: 4,
 11599: 0,
 5939: 0,
 6924: 1,
 2215: 0,
 14177: 1,
 6574: 0,
 13603: 0,
 12310: 0,
 6565: 0,
 824: 2,
 1090: 2,
 5111: 0,
 425: 2,
 15067: 1,
 4264: 3,
 2878: 0,
 3002: 2,
 6984: 0,
 1546: 2,
 9821: 0,
 10649: 0,
 5548: 0,
 2553: 2,
 6409: 0,
 4914: 0,
 3404: 1,
 14171: 0,
 7519: 0,
 4390: 0,
 5424: 0,
 2478: 2,
 14578: 0,
 5243: 0,
 3739: 2,
 4541: 0,
 1286: 2,
 14860: 0,
 4639: 0,
 8495: 0,
 8814: 0,
 6685: 1,
 14376: 0,
 11539: 0,
 221: 2,
 11941: 0,
 4530: 0,
 6625: 1,
 12683: 0,
 14048: 0,
 452: 2,
 5366: 0,
 508: 2,
 14760: 1,
 7429: 0,
 5126: 0,
 10287: 1,
 5964: 0,
 108: 1,
 3043: 3,
 8592: 0,
 2315: 2,
 14282: 0,
 4687: 0,
 15968: 1,
 10085: 0,
 12365: 0,
 11067: 0,
 4562: 1,
 10681: 0,
 11488: 0,
 7636: 0,
 12771: 0,
 6394: 1,
 286: 3,
 4437: 0,
 1302: 2,
 13431: 0,
 3083: 2,
 7554: 1,
 4528: 0,
 6010: 0,
 4097: 4,
 7247: 0,
 829: 2,
 4836: 0,
 3147: 2,
 8670: 0,
 1790: 2,
 14405: 0,
 9256: 0,
 15647: 1,
 1855: 0,
 16078: 1,
 12257: 0,
 9786: 1,
 11871: 0,
 12101: 0,
 803: 2,
 3920: 1,
 2531: 3,
 288: 1,
 2012: 3,
 14762: 0,
 2379: 2,
 4781: 0,
 7068: 1,
 6756: 0,
 8759: 0,
 466: 2,
 4367: 0,
 1478: 2,
 7225: 1,
 15193: 0,
 13017: 0,
 4565: 0,
 5072: 0,
 1193: 2,
 12180: 1,
 14160: 0,
 12827: 0,
 2978: 2,
 13934: 0,
 4889: 0,
 1856: 2,
 7383: 0,
 1580: 2,
 14278: 0,
 1963: 2,
 12178: 0,
 10307: 0,
 6138: 0,
 7885: 1,
 8886: 0,
 3642: 1,
 4745: 0,
 4708: 0,
 9134: 0,
 1655: 2,
 13646: 0,
 1158: 2,
 11658: 0,
 12079: 0,
 9260: 0,
 13328: 0,
 5045: 0,
 4109: 4,
 13622: 0,
 2689: 2,
 7155: 1,
 10796: 0,
 6954: 0,
 9813: 0,
 3160: 2,
 9420: 0,
 550: 2,
 7312: 0,
 2795: 2,
 12188: 0,
 9906: 0,
 1930: 2,
 13125: 0,
 2270: 2,
 3015: 0,
 364: 2,
 9879: 0,
 2973: 2,
 6471: 1,
 7093: 0,
 15865: 1,
 13588: 0,
 12931: 0,
 10408: 0,
 12161: 0,
 9567: 0,
 104: 2,
 11739: 0,
 1227: 2,
 15070: 1,
 9297: 0,
 16161: 1,
 9877: 0,
 11848: 0,
 4396: 0,
 10431: 0,
 6438: 0,
 8653: 1,
 10822: 0,
 12884: 0,
 2659: 2,
 11612: 0,
 2131: 2,
 14293: 0,
 584: 2,
 6651: 1,
 10427: 1,
 7782: 0,
 4397: 0,
 490: 2,
 11015: 0,
 4448: 0,
 9099: 0,
 1407: 2,
 7204: 0,
 1019: 2,
 935: 1,
 11107: 0,
 1667: 0,
 7833: 0,
 13406: 0,
 4107: 4,
 5575: 0,
 3038: 2,
 12910: 0,
 7543: 0,
 974: 2,
 11032: 0,
 7794: 1,
 8635: 0,
 7802: 1,
 4864: 0,
 6419: 0,
 10707: 1,
 588: 3,
 9869: 0,
 12868: 1,
 1082: 3,
 4921: 0,
 841: 2,
 4930: 1,
 842: 3,
 8873: 0,
 8372: 0,
 5873: 0,
 898: 2,
 4677: 0,
 10339: 0,
 6475: 1,
 7880: 0,
 10314: 0,
 9830: 0,
 1432: 2,
 15253: 1,
 9026: 0,
 11200: 0,
 4284: 1,
 2019: 3,
 12360: 1,
 8069: 0,
 5513: 0,
 1220: 2,
 14961: 1,
 4603: 0,
 12907: 0,
 14464: 0,
 12498: 0,
 2343: 2,
 11875: 0,
 13076: 0,
 16032: 1,
 14727: 0,
 471: 1,
 4426: 0,
 9918: 0,
 3782: 2,
 10993: 1,
 9159: 0,
 7737: 0,
 2819: 0,
 12623: 0,
 7480: 0,
 6119: 0,
 1036: 2,
 11423: 0,
 6815: 1,
 10365: 0,
 5706: 1,
 12452: 0,
 11495: 0,
 9687: 0,
 457: 2,
 10120: 0,
 203: 2,
 13968: 0,
 10903: 0,
 10333: 0,
 10714: 0,
 10632: 1,
 14016: 0,
 7984: 0,
 11586: 0,
 5547: 1,
 13555: 0,
 11084: 0,
 599: 2,
 11241: 0,
 5690: 0,
 5433: 0,
 4125: 4,
 7125: 1,
 5862: 0,
 11065: 0,
 8543: 0,
 387: 2,
 8337: 0,
 14318: 0,
 10190: 0,
 9053: 0,
 9965: 0,
 656: 2,
 12072: 0,
 2748: 2,
 11876: 0,
 10469: 0,
 2584: 2,
 13529: 0,
 5337: 0,
 1564: 2,
 13261: 0,
 9724: 0,
 14055: 0,
 10656: 1,
 4441: 0,
 450: 1,
 10763: 0,
 2178: 0,
 12214: 1,
 7260: 0,
 1370: 2,
 6674: 0,
 7916: 0,
 14044: 1,
 4880: 0,
 6133: 0,
 2435: 2,
 6296: 0,
 1030: 2,
 8213: 0,
 8618: 0,
 5948: 1,
 2570: 3,
 10484: 1,
 11306: 0,
 14626: 0,
 10224: 1,
 13625: 0,
 3577: 1,
 2283: 3,
 11716: 0,
 13576: 0,
 14134: 1,
 1017: 3,
 13255: 0,
 1267: 2,
 6629: 1,
 11505: 0,
 11464: 0,
 9635: 0,
 14087: 0,
 11481: 1,
 4742: 0,
 8105: 0,
 235: 2,
 3291: 1,
 3100: 3,
 2420: 1,
 11826: 0,
 8135: 0,
 1935: 2,
 9311: 1,
 6842: 0,
 2738: 0,
 2347: 2,
 14820: 0,
 6365: 1,
 608: 0,
 12699: 1,
 2654: 3,
 5751: 1,
 6891: 0,
 14409: 0,
 5067: 1,
 3204: 3,
 11517: 0,
 13864: 1,
 10765: 0,
 7302: 1,
 10347: 0,
 15001: 1,
 2811: 3,
 4344: 0,
 8752: 0,
 2969: 2,
 13334: 0,
 6229: 0,
 9029: 0,
 5788: 1,
 14466: 1,
 10859: 0,
 6597: 0,
 1160: 2,
 6374: 0,
 3118: 2,
 13471: 0,
 1863: 2,
 6968: 1,
 13661: 1,
 11276: 0,
 5001: 1,
 2319: 3,
 11435: 0,
 1380: 2,
 4858: 0,
 2016: 2,
 12752: 0,
 10091: 0,
 6098: 0,
 4597: 0,
 1909: 2,
 13251: 1,
 13836: 0,
 8985: 0,
 9327: 0,
 8859: 0,
 10716: 0,
 9995: 0,
 8346: 0,
 11693: 0,
 5898: 1,
 13877: 0,
 11100: 0,
 8214: 0,
 14249: 1,
 9516: 0,
 5094: 0,
 14141: 0,
 2566: 2,
 5568: 1,
 7371: 0,
 4519: 0,
 1646: 2,
 10032: 0,
 2537: 2,
 4799: 0,
 2149: 2,
 10768: 0,
 10390: 0,
 672: 2,
 14374: 0,
 664: 2,
 9692: 0,
 4101: 4,
 14424: 1,
 2461: 3,
 14748: 0,
 2265: 2,
 11251: 1,
 2646: 3,
 5047: 1,
 9128: 0,
 10449: 1,
 408: 3,
 5894: 0,
 2373: 2,
 4893: 0,
 994: 2,
 10559: 0,
 7402: 0,
 13090: 0,
 2619: 2,
 13139: 1,
 10750: 0,
 4952: 0,
 11127: 0,
 4118: 1,
 15283: 0,
 10284: 0,
 1003: 2,
 8721: 0,
 2599: 2,
 7722: 0,
 4108: 4,
 13972: 0,
 13704: 0,
 4857: 0,
 52: 2,
 9495: 0,
 4898: 1,
 4537: 0,
 1912: 0,
 438: 2,
 7218: 0,
 10279: 0,
 14280: 0,
 69: 2,
 12175: 0,
 8300: 0,
 6305: 0,
 15190: 1,
 10195: 0,
 3824: 1,
 10071: 0,
 12163: 1,
 10164: 0,
 11747: 0,
 8017: 0,
 3479: 1,
 11370: 0,
 7221: 1,
 10518: 0,
 13881: 1,
 6352: 0,
 14155: 0,
 7539: 0,
 4374: 0,
 403: 2,
 7390: 1,
 5983: 0,
 9809: 1,
 11255: 0,
 11379: 0,
 8482: 0,
 6230: 0,
 929: 2,
 8913: 0,
 8280: 0,
 5910: 0,
 1899: 2,
 13227: 0,
 4123: 4,
 7747: 0,
 409: 2,
 10024: 1,
 22: 3,
 6370: 1,
 8947: 0,
 14545: 1,
 12845: 1,
 14661: 0,
 13724: 1,
 12886: 1,
 10099: 0,
 6167: 1,
 4721: 0,
 3795: 1,
 9766: 0,
 7020: 1,
 13510: 0,
 14106: 0,
 15509: 1,
 1723: 3,
 15916: 1,
 7262: 0,
 73: 2,
 10261: 0,
 11413: 0,
 4093: 4,
 13687: 1,
 10037: 0,
 14483: 1,
 4435: 0,
 13714: 1,
 6271: 0,
 14006: 1,
 1151: 3,
 13435: 0,
 2045: 2,
 13437: 0,
 1461: 2,
 10645: 1,
 1232: 3,
 6906: 0,
 7563: 0,
 9388: 1,
 14306: 0,
 8074: 0,
 3792: 2,
 8612: 1,
 8511: 0,
 16153: 1,
 13305: 0,
 2935: 1,
 1456: 3,
 5061: 1,
 5026: 0,
 7551: 1,
 1277: 3,
 7059: 0,
 10615: 0,
 807: 2,
 11373: 0,
 13552: 0,
 1026: 2,
 1519: 1,
 9203: 0,
 4840: 0,
 4748: 0,
 9464: 0,
 5686: 0,
 5609: 0,
 3009: 2,
 9009: 0,
 9816: 0,
 1127: 2,
 7472: 0,
 1448: 2,
 11617: 1,
 14407: 0,
 11408: 1,
 1645: 3,
 6678: 1,
 10027: 0,
 6918: 0,
 936: 2,
 4726: 0,
 12296: 0,
 4699: 0,
 9393: 0,
 2415: 2,
 3825: 1,
 13094: 1,
 10877: 0,
 12671: 0,
 2055: 2,
 4186: 1,
 91: 3,
 3582: 1,
 9529: 0,
 14670: 1,
 4472: 0,
 1809: 2,
 8446: 0,
 4196: 1,
 7940: 0,
 11878: 0,
 7965: 0,
 8278: 1,
 14269: 0,
 2384: 1,
 68: 3,
 10134: 0,
 8334: 0,
 1783: 2,
 5871: 0,
 1910: 2,
 13772: 0,
 10002: 0,
 11034: 0,
 10840: 0,
 11777: 0,
 177: 2,
 5936: 1,
 12301: 0,
 14821: 0,
 11240: 1,
 10905: 0,
 11934: 0,
 10844: 0,
 4381: 0,
 4134: 4,
 8295: 0,
 12356: 1,
 982: 3,
 8244: 0,
 7707: 0,
 7989: 1,
 14844: 0,
 12254: 0,
 7934: 0,
 1600: 2,
 5521: 0,
 9798: 1,
 9973: 0,
 9969: 0,
 9050: 0,
 2650: 2,
 10056: 0,
 10230: 0,
 12338: 0,
 9014: 0,
 3903: 1,
 4460: 0,
 14902: 1,
 11681: 0,
 9505: 0,
 13061: 0,
 5640: 1,
 16354: 3,
 4955: 0,
 12243: 0,
 3294: 1,
 1874: 3,
 9603: 0,
 5058: 1,
 13477: 0,
 377: 2,
 13600: 0,
 2425: 2,
 13192: 0,
 5214: 0,
 5571: 0,
 4445: 0,
 13040: 0,
 4790: 0,
 6201: 0,
 3509: 1,
 13163: 0,
 4861: 0,
 4434: 0,
 11045: 0,
 13755: 0,
 1742: 2,
 12294: 0,
 13: 2,
 11890: 0,
 389: 2,
 5217: 0,
 2440: 2,
 11884: 0,
 12056: 0,
 14632: 1,
 9312: 0,
 13802: 0,
 4782: 0,
 2683: 2,
 9377: 0,
 8322: 1,
 11672: 0,
 334: 2,
 5239: 0,
 2955: 2,
 7437: 1,
 6979: 0,
 9157: 0,
 9663: 0,
 540: 2,
 6509: 1,
 6246: 0,
 6738: 1,
 7792: 0,
 4454: 0,
 2714: 2,
 2934: 1,
 13518: 0,
 11521: 0,
 12484: 0,
 6542: 1,
 2409: 3,
 9374: 0,
 11431: 1,
 11530: 0,
 14851: 0,
 3998: 1,
 6343: 0,
 9039: 0,
 11566: 0,
 11523: 0,
 657: 2,
 14800: 0,
 3042: 0,
 14767: 0,
 2962: 2,
 12846: 0,
 3811: 1,
 2493: 0,
 8178: 0,
 2676: 1,
 7622: 0,
 9572: 1,
 6999: 0,
 9141: 1,
 12584: 1,
 5379: 1,
 4630: 0,
 3468: 1,
 11079: 0,
 6510: 0,
 16191: 0,
 1375: 2,
 6766: 0,
 13035: 0,
 3778: 2,
 6214: 1,
 4929: 0,
 7257: 0,
 7535: 0,
 12708: 0,
 8776: 1,
 4863: 0,
 14533: 0,
 7901: 1,
 13669: 0,
 8550: 0,
 2087: 2,
 8684: 1,
 7202: 1,
 4458: 0,
 8569: 0,
 12349: 0,
 1187: 2,
 7518: 0,
 5729: 1,
 10933: 0,
 3952: 1,
 8218: 0,
 3770: 2,
 11927: 0,
 8813: 0,
 11532: 0,
 14071: 0,
 15061: 1,
 11880: 0,
 15814: 1,
 13774: 0,
 7578: 0,
 1949: 2,
 8447: 1,
 8309: 0,
 14778: 0,
 11879: 0,
 5974: 0,
 12747: 1,
 2858: 3,
 13077: 0,
 11254: 0,
 ...}

In [40]:
typid2entid = {}
for k,v in entid2typid.items():
    typid2entid.setdefault(v,[]).append(k)

In [41]:
id2ent = {v: k for k, v in ent2id.items()}
id2rel = {v: k for k, v in rel2id.items()}
id2type = {v: k for k, v in type2id.items()}

with open('ent2id.pkl', 'wb') as f:
    pickle.dump(ent2id, f)
with open('id2ent.pkl', 'wb') as f:
    pickle.dump(id2ent, f)
    
with open('rel2id.pkl', 'wb') as f:
    pickle.dump(rel2id, f)
with open('id2rel.pkl', 'wb') as f:
    pickle.dump(id2rel, f)
    
with open('type2id.pkl', 'wb') as f:
    pickle.dump(type2id, f)
with open('id2type.pkl', 'wb') as f:
    pickle.dump(id2type, f)
    
with open('typid2entid.pkl', 'wb') as f:
    pickle.dump(typid2entid, f)
with open('entid2typid.pkl', 'wb') as f:
    pickle.dump(entid2typid, f)

In [42]:
def get_observed_triples():
    all_possible_hs = defaultdict(dict)
    all_possible_ts = defaultdict(dict)
    # For better performance, run this function locally and store results in pickle format, then save it definitely and load it here
    # (instead of running it every time)
    train = torch.as_tensor(genfromtxt('train2id.txt', delimiter='\t'), dtype=torch.int32)
    valid = torch.as_tensor(genfromtxt('valid2id.txt', delimiter='\t'), dtype=torch.int32)
    test = torch.as_tensor(genfromtxt('test2id.txt', delimiter='\t'), dtype=torch.int32)
    all_triples = torch.cat((train,valid,test))
    X = all_triples.detach().clone()
    for triple in range(X.shape[0]):
        h,r,t = X[triple][0].item(), X[triple][1].item(), X[triple][2].item()
        try:
            all_possible_ts[h][r].append(t)
        except KeyError:
            all_possible_ts[h][r] = [t]

    for triple in range(X.shape[0]):
        h,r,t = X[triple][0].item(), X[triple][1].item(), X[triple][2].item()
        try:
            all_possible_hs[t][r].append(h)
        except KeyError:
            all_possible_hs[t][r] = [h]

    all_possible_ts = dict(all_possible_ts)
    all_possible_hs = dict(all_possible_hs)
    return all_possible_hs, all_possible_ts

In [43]:
all_possible_hs, all_possible_ts = get_observed_triples()

In [44]:
with open('observed_heads.pkl', 'wb') as f:
    pickle.dump(all_possible_hs, f)
with open('observed_tails.pkl', 'wb') as f:
    pickle.dump(all_possible_ts, f)

In [47]:
rid2profile = train[["pid", "stid", "otid"]]
rid2profile = rid2profile.drop_duplicates()

In [48]:
rid2profile

    pid  stid  otid
0     0     1     3
2     1     1     0
4     2     0     0
5     3     0     2
22    4     0     4

In [49]:
rel2dom = {}
for i, row in rid2profile[["pid", "stid"]].iterrows():
    rel2dom[row['pid']] = row['stid']
    
rel2range = {}
for i, row in rid2profile[["pid", "otid"]].iterrows():
    rel2range[row['pid']] = row['otid']

In [50]:
rel2range

{0: 3, 1: 0, 2: 0, 3: 2, 4: 4}

In [51]:
with open('rel2dom.pkl', 'wb') as f:
    pickle.dump(rel2dom, f)
with open('rel2range.pkl', 'wb') as f:
    pickle.dump(rel2range, f)