In [1]:
import torch.nn as nn
import torch
import numpy as np
import time
from collections import defaultdict
import pandas as pd
from torch.utils import data as torch_data
#from ..models import TransE, TransH, DistMult
import copy
import pickle
from numpy import genfromtxt
import logging

logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

In [2]:
train = torch.as_tensor(genfromtxt('train2id.txt', delimiter='\t'), dtype=torch.int32)
valid = torch.as_tensor(genfromtxt('valid2id.txt', delimiter='\t'), dtype=torch.int32)
test = torch.as_tensor(genfromtxt('test2id.txt', delimiter='\t'), dtype=torch.int32)
all_triples = torch.cat((train,valid,test))

In [3]:
all_triples

tensor([[2948,    9,   66],
        [ 263,   18,  681],
        [ 202,   19,  572],
        ...,
        [2664,   13,  568],
        [2841,    3,  681],
        [4124,   16,  572]], dtype=torch.int32)

In [4]:
X = pd.DataFrame(all_triples.numpy(), columns=['s','p','o'])

In [5]:
X.groupby(by=["p"]).count()

       s     o
p
0    324   324
1    718   718
2    711   711
3    290   290
4     59    59
5   9832  9832
6     20    20
7   2385  2385
8   4773  4773
9   4018  4018
10   334   334
11  2298  2298
12  2012  2012
13   377   377
14    14    14
15  4012  4012
16  3145  3145
17   309   309
18   341   341
19   116   116
20    29    29
21   156   156
22    13    13
23    15    15

In [6]:
unique_ent = {}
for p in X.p.unique():
    tmp = X[X.p==p].nunique()
    unique_ent[p] = {'s': tmp[0], 'o': tmp[2]}

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

In [7]:
unique_ent

{9: {'s': 1802, 'o': 228},
 18: {'s': 146, 'o': 13},
 19: {'s': 61, 'o': 9},
 17: {'s': 193, 'o': 11},
 8: {'s': 2173, 'o': 6},
 7: {'s': 1830, 'o': 6},
 5: {'s': 3431, 'o': 16},
 12: {'s': 1126, 'o': 12},
 15: {'s': 2478, 'o': 215},
 11: {'s': 1969, 'o': 203},
 16: {'s': 3145, 'o': 46},
 0: {'s': 286, 'o': 12},
 6: {'s': 10, 'o': 12},
 10: {'s': 284, 'o': 12},
 1: {'s': 153, 'o': 117},
 2: {'s': 669, 'o': 130},
 21: {'s': 78, 'o': 13},
 13: {'s': 377, 'o': 8},
 4: {'s': 59, 'o': 6},
 3: {'s': 265, 'o': 11},
 14: {'s': 11, 'o': 8},
 20: {'s': 22, 'o': 3},
 23: {'s': 15, 'o': 9},
 22: {'s': 13, 'o': 8}}

In [8]:
rels_del = []
for key, value in unique_ent.items():
    if unique_ent[key]['s'] < 10 or unique_ent[key]['o'] < 10:
        rels_del.append(key)

In [9]:
test_del = pd.DataFrame(test.numpy(), columns=['s','p','o'])
new_test = test_del[~test_del.iloc[:,1].isin(rels_del)]
np.savetxt('test2id.txt', new_test[['s', 'p', 'o']].values, fmt='%d', delimiter='\t')

valid_del = pd.DataFrame(valid.numpy(), columns=['s','p','o'])
new_valid = valid_del[~valid_del.iloc[:,1].isin(rels_del)]
np.savetxt('valid2id.txt', new_valid[['s', 'p', 'o']].values, fmt='%d', delimiter='\t')