In [22]:
import torch.nn as nn
import torch
import numpy as np
import time
from collections import defaultdict
import pandas as pd
from torch.utils import data as torch_data
#from ..models import TransE, TransH, DistMult
import copy
import pickle
from numpy import genfromtxt
import logging
import itertools

logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

# ATTENTION : ent2id et rel2id pas bons car je considère que keyword 'mathematiques' et school subject 'mathematiques' comme la même entitée !

In [8]:
with open("ent2id.txt") as fin:
     rows = ( line.split('\t') for line in fin )
     ent2id = { row[0]:int(row[1]) for row in rows }
id2ent = {v: k for k, v in ent2id.items()}

with open("rel2id.txt") as fin:
     rows = ( line.split('\t') for line in fin )
     rel2id = { row[0]:int(row[1]) for row in rows }
id2rel = {v: k for k, v in rel2id.items()}

with open("type2id.txt") as fin:
     rows = ( line.split('\t') for line in fin )
     type2id = { row[0]:int(row[1]) for row in rows }
id2type = {v: k for k, v in type2id.items()}

In [9]:
typid2entid = {}
entid2typid = {}


with open("train.txt", "r") as f:
    lines = f.readlines()

entid2typid = {}
for i, line in enumerate(lines):
    h = line.strip().split('\t')[0]
    t = line.strip().split('\t')[2]
    entid2typid[int(h)] = int(line.strip().split('\t')[8])
    entid2typid[int(t)] = int(line.strip().split('\t')[9])

In [10]:
typid2entid = {}
for k,v in entid2typid.items():
    typid2entid.setdefault(v,[]).append(k)

In [11]:
with open('ent2id.pkl', 'wb') as f:
    pickle.dump(ent2id, f)
with open('id2ent.pkl', 'wb') as f:
    pickle.dump(id2ent, f)
    
with open('rel2id.pkl', 'wb') as f:
    pickle.dump(rel2id, f)
with open('id2rel.pkl', 'wb') as f:
    pickle.dump(id2rel, f)
    
with open('type2id.pkl', 'wb') as f:
    pickle.dump(type2id, f)
with open('id2type.pkl', 'wb') as f:
    pickle.dump(id2type, f)
    
with open('typid2entid.pkl', 'wb') as f:
    pickle.dump(typid2entid, f)
with open('entid2typid.pkl', 'wb') as f:
    pickle.dump(entid2typid, f)
        
# with open('saved_dictionary.pkl', 'rb') as f:
#     loaded_dict = pickle.load(f)

In [15]:
# This is for getting observed triples later (filtering scores)
from collections import defaultdict

def get_observed_triples():
    all_possible_hs = defaultdict(dict)
    all_possible_ts = defaultdict(dict)
    # For better performance, run this function locally and store results in pickle format, then save it definitely and load it here
    # (instead of running it every time)
    train = torch.as_tensor(genfromtxt('train2id.txt', delimiter='\t'), dtype=torch.int32)
    valid = torch.as_tensor(genfromtxt('valid2id.txt', delimiter='\t'), dtype=torch.int32)
    test = torch.as_tensor(genfromtxt('test2id.txt', delimiter='\t'), dtype=torch.int32)
    all_triples = torch.cat((train,valid,test))
    X = all_triples.detach().clone()
    for triple in range(X.shape[0]):
        h,r,t = X[triple][0].item(), X[triple][1].item(), X[triple][2].item()
        try:
            all_possible_ts[h][r].append(t)
        except KeyError:
            all_possible_ts[h][r] = [t]

    for triple in range(X.shape[0]):
        h,r,t = X[triple][0].item(), X[triple][1].item(), X[triple][2].item()
        try:
            all_possible_hs[t][r].append(h)
        except KeyError:
            all_possible_hs[t][r] = [h]

    all_possible_ts = dict(all_possible_ts)
    all_possible_hs = dict(all_possible_hs)
    return all_possible_hs, all_possible_ts

In [16]:
all_possible_hs, all_possible_ts = get_observed_triples()

In [18]:
with open('observed_heads.pkl', 'wb') as f:
    pickle.dump(all_possible_hs, f)
with open('observed_tails.pkl', 'wb') as f:
    pickle.dump(all_possible_ts, f)

In [23]:
# domain-range for each relation in terms of admissible entity type
# for r in X_train[:,1].unique():
#     X_tmp = X_train[X_train[:,1]==r]
all_possible_ts = {}
all_possible_hs = {}
train = torch.as_tensor(genfromtxt('train2id.txt', delimiter='\t'), dtype=torch.int32)
valid = torch.as_tensor(genfromtxt('valid2id.txt', delimiter='\t'), dtype=torch.int32)
test = torch.as_tensor(genfromtxt('test2id.txt', delimiter='\t'), dtype=torch.int32)
X = torch.cat((train,valid,test))
for triple in range(X.shape[0]):
    h,r,t = X[triple][0].item(), X[triple][1].item(), X[triple][2].item()
    try:
        all_possible_ts[r].append(t)
    except KeyError:
        all_possible_ts[r] = [t]
    try:
        all_possible_hs[r].append(h)
    except KeyError:
        all_possible_hs[r] = [h]
        
dom_rel = {}
range_rel = {}
i=0
for r in train[:,1].unique():
    range_ent = all_possible_ts[r.item()]
    try:
        tmp = [entid2typid[ent] for ent in range_ent]
    except:
        print(i)
    range_type = list(set(itertools.chain.from_iterable(tmp)))
    range_rel[r.item()] = range_type
    
    
    dom_ent = all_possible_hs[r.item()]
    try:
        tmp2 = [entid2typid[ent] for ent in dom_ent]
    except:
        print(i)
    dom_type = list(set(itertools.chain.from_iterable(tmp2)))
    dom_rel[r.item()] = dom_type
    i+=1

TypeError: 'int' object is not iterable

In [27]:
train = pd.read_csv('train.txt', sep='\t', header=None, names=['h', 'r', 't', 's','p','o','htype','ttype','htypeid','ttypeid'])

In [39]:
rid2profile = train[["r", "htypeid", "ttypeid"]]
rid2profile = rid2profile.drop_duplicates()

In [40]:
rid2profile

       r  htypeid  ttypeid
0      9        0        8
1     18        7        5
2     19        7        2
3     17        7        2
4      8        0        6
5      7        0        3
6      5        0        1
7     12        0        5
10    15        0        7
20    11        0        7
30    16        0        2
36     0        7        4
58     6        2        1
88    10        8        4
114    1        7        8
125    2        0        7
189   21        2        5
256   13        0        2
326    4        0        2
351    3        0        5
530   14        2        4
888   20        7        5
1694  23        1        4
5903  22        5        4

In [43]:
rel2dom = {}
for i, row in rid2profile[['r', 'htypeid']].iterrows():
    rel2dom[row['r']] = row['htypeid']
    
rel2range = {}
for i, row in rid2profile[['r', 'ttypeid']].iterrows():
    rel2range[row['r']] = row['ttypeid']

In [44]:
rel2dom

{9: 0,
 18: 7,
 19: 7,
 17: 7,
 8: 0,
 7: 0,
 5: 0,
 12: 0,
 15: 0,
 11: 0,
 16: 0,
 0: 7,
 6: 2,
 10: 8,
 1: 7,
 2: 0,
 21: 2,
 13: 0,
 4: 0,
 3: 0,
 14: 2,
 20: 7,
 23: 1,
 22: 5}

In [45]:
with open('rel2dom.pkl', 'wb') as f:
    pickle.dump(rel2dom, f)
with open('rel2range.pkl', 'wb') as f:
    pickle.dump(rel2range, f)

In [51]:
typid2entid[entid2typid[574]]

[647,
 28,
 424,
 4280,
 591,
 454,
 637,
 480,
 43,
 471,
 422,
 654,
 590,
 657,
 389,
 668,
 5,
 613,
 624,
 39,
 450,
 475,
 14,
 458,
 10,
 593,
 396,
 379,
 4289,
 423,
 36,
 62,
 383,
 573,
 377,
 633,
 21,
 46,
 48,
 35,
 476,
 608,
 4288,
 4298,
 69,
 661,
 642,
 51,
 479,
 615,
 369,
 442,
 457,
 57,
 467,
 477,
 405,
 33,
 384,
 77,
 41,
 434,
 444,
 414,
 651,
 55,
 448,
 393,
 1,
 655,
 673,
 406,
 381,
 37,
 436,
 376,
 576,
 620,
 4300,
 4307,
 660,
 4277,
 609,
 374,
 4286,
 583,
 430,
 76,
 575,
 464,
 417,
 604,
 4291,
 53,
 9,
 618,
 371,
 426,
 595,
 443,
 671,
 67,
 20,
 574,
 439,
 602,
 578,
 378,
 397,
 650,
 641,
 460,
 656,
 415,
 4295,
 643,
 16,
 380,
 631,
 446,
 4302,
 662,
 4297,
 4283,
 4284,
 404,
 71,
 74,
 27,
 4292,
 2,
 408,
 365,
 4294,
 580,
 368,
 447,
 600,
 622,
 4303,
 372,
 638,
 456,
 366,
 15,
 409,
 22,
 468,
 605,
 607,
 4287,
 411,
 592,
 45,
 13,
 70,
 688,
 627,
 25,
 617,
 395,
 437,
 667,
 644,
 4279,
 24,
 582,
 623,
 658,
 452,
 612,
 666,
 461,
 73,
 401,
 385,
 648,
 4296,
 58,
 44,
 4304,
 72,
 466,
 3,
 596,
 463,
 603,
 388,
 11,
 483,
 387,
 403,
 12,
 47,
 599,
 629,
 588,
 4278,
 616,
 4290,
 4282,
 65,
 32,
 606,
 431,
 614,
 453,
 6,
 481,
 441,
 31,
 8,
 435,
 373,
 386,
 640,
 4306,
 0,
 440,
 400,
 421,
 586,
 402,
 652,
 690,
 665,
 364,
 4301,
 410,
 587,
 64,
 38,
 63,
 391,
 392,
 60,
 636,
 669,
 632,
 653,
 473,
 589,
 451,
 634,
 465,
 659,
 17,
 34,
 59,
 577,
 399,
 42,
 449,
 4276,
 433,
 398,
 581,
 601,
 482,
 4285,
 635,
 4293,
 7,
 4308,
 4299,
 455,
 367,
 40,
 639,
 585,
 29,
 370,
 663,
 584,
 630,
 407,
 416,
 4305,
 4281,
 445,
 56,
 23,
 597,
 462,
 670,
 646,
 18,
 375,
 672,
 626,
 598,
 645,
 691,
 4,
 19,
 628,
 412,
 50,
 610]